body{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	text-align: center;
}

.hex-color{
	text-transform: uppercase;
}

.hex{
	font-size: 3rem;
}

.hex-btn{
	color: #f15025;
	border: 3px solid #101d2c;
	border-radius: 7px;
	background: rgba(0,0,0,.6);
	font-size: 1.6rem;
	padding: 1rem 1rem;
	cursor: pointer;
	outline: none;
	text-transform: capitalize;
}
.hex-btn:hover{
	background: rgb(0,0,0);
}